<!-- do don't section ------------------------------------------------------------------------->
<section class="do-dont pt-5 pb-5 plr-5 text-center bg-smokeColor" id="doDont">
    <div class="content headerColor wow bounceInUp pt-5">
      <h5 class="selected bold">DO’S & DON’TS</h5>
      <h2 class="bold mb-4">PROTECT YOURSELF</h2>
      <p>The best thing you can do now is plan for how you can adapt your daily routine. Take few steps to protect
        yourself as Clean your hands often, Avoid close contact, Cover coughs and sneezes, clean daily used surfaces
        etc. The best way to prevent illness is to avoid being exposed to this virus.</p>
    </div>
    <div class="selected bold grid p-5">
      <div class="item1 border-right wow bounceInLeft">
        <div class="row justify-content-between">
          <div class="col-sm-4 p-0 col-12">
            <span class="">Avoid Close Contact</span>
          </div>
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/donts-a.png" alt="" width="80" height="80">
            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-4 p-0 col-12">
            <span>Don’t Touch Face</span>
          </div>
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/donts-b.png" alt="" width="80" height="80">
            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-4 p-0 col-12">
            <span>Social Distancing</span>
          </div>
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/donts-c.png" alt="" width="80" height="80">
            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="item2 wow pulse">
        <img src="/assets/imgs/protect.png" alt="" width="100%" height="100%">
      </div>
      <div class="item3 border-left wow bounceInRight">
        <div class="row justify-content-between">
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/dos-a.png" alt="" width="80" height="80">
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-4 p-0 col-12">
            <span>Wash Your Hands</span>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/dos-b.png" alt="" width="80" height="80">
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-4 p-0 col-12">
            <span>Drink Much Water</span>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-8 p-0 col-12">
            <img src="/assets/imgs/dos-c.png" alt="" width="80" height="80">
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-4 p-0 col-12">
            <span>Use Face Mask</span>
          </div>
        </div>
      </div>
    </div>
  </section>