<!-- home section ----------------------------------------------------------------->
<section class="home plr-5 row pt-150px pb-4 bg-smokeColor bgImg-main" id="home">
  <div class="homeContent text-center col-lg-6">
    <div class="hText row p-5 justify-content-around">
      <div class="bigText wow bounceIn">
        <h1 class="defaultColor bold ts-70px">CORONA</h1>
      </div>
      <div>
        <div class="row justify-content-around bold text-danger ts-30px wow bounceInUp" id="dangerText">COVID-19</div>
        <div class="row justify-content-around bold defaultColor ts-30px wow bounceInDown">VIRUS</div>
      </div>
    </div>
    <p class="defaultColor text-left wow fadeIn">The coronavirus (COVID-19) was first reported in Wuhan, hubei, china
      in december 2019, the outbreak was later recognized as a pandemic by the World Health organization (WHO) on 11
      march 2020.
    </p>
    <div class="row justify-content-around pt-2 pb-3">
      <button class="btn btn-primary rounded-pill pl-5 pr-5">
        How To Protect
        <i class="fa fa-shield ml-2" aria-hidden="true"></i>
      </button>
      <a href="" class="p-3 selected bold">
        About COVID-19
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="row justify-content-around bold defaultColor pb-3">
      <div class="col-sm-3">
        <div class="row justify-content-around text-uppercase hashColor smallText">WORLDWIDECASES</div>
        <div class="row justify-content-around ts-30px wow pulse">8,949,671</div>
      </div>
      <div class="col-sm-3">
        <div class="row justify-content-around text-uppercase hashColor smallText">DEATHS</div>
        <div class="row justify-content-around ts-30px wow pulse">467,432</div>
      </div>
      <div class="col-sm-4">
        <div class="row justify-content-around text-uppercase hashColor smallText">RECOVERED</div>
        <div class="row justify-content-around ts-30px wow pulse">4,556,091</div>
      </div>
    </div>
    <div class="row text-left fs-6 smallText hashColor t-italic mt-5">
      <span>* Last updated: Jun 21, 2020, 09:24 AM America/Chicago</span>
    </div>
  </div>
  <div class="homeImg col-lg-6 pt-2 pb-2 wow bounceInRight">
    <img src="/assets/imgs/header-a.png" alt="" width="100%" height="100%">
  </div>
</section>