<!-- prevention section ------------------------------------------------------------------------>
<section class="prevention pt-5 pb-5 plr-5 bg-smokeColor" id="prevention">
    <div class="row justify-content-around text-center defaultColor mt-5 wow rotateInDownLeft">
      <span class="col-12 selected bold">HOW TO PROTECT YOURSELF</span>
      <h2 class="col-12 bold mt-2">PREVENTION & ADVICE</h2>
      <p class="col-lg-11 p-4 mb-5">There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19). The
        best way to prevent illness is to avoid being exposed to this virus. Stay aware of the latest information on the
        COVID-19 outbreak, available on the WHO website and through your national and local public health authority.</p>
    </div>

    <div class="row text-center justify-content-between defaultColor mb-5">
      <div class="col-lg-3 col-md-6">
        <img src="/assets/imgs/advice-a.png" class="radius-50 wow pulse" width="100" alt="">
        <div class="wow bounceInUp">
          <h6 class="bold mt-3">Wash your hands frequently</h6>
          <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water
            for at least 20 seconds.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="/assets/imgs/advice-b.png" class="radius-50 wow pulse" width="100" alt="">
        <div class="wow bounceInUp">
          <h6 class="bold mt-3">Maintain social distancing</h6>
          <p>Maintain at least 1 metre (3 feet) distance between yourself & anyone who is coughing or sneezing. If you
            are too close, get chance to infected.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="/assets/imgs/advice-c.png" class="radius-50 wow pulse" width="100" alt="">
        <div class="wow bounceInUp">
          <h6 class="bold mt-3">Avoid touching face</h6>
          <p>Hands touch many surfaces and can pick up viruses. So, hands can transfer the virus to your eyes, nose or
            mouth and can make you sick.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="/assets/imgs/advice-d.png" class="radius-50 wow pulse" width="100" alt="">
        <div class="wow bounceInUp">
          <h6 class="bold mt-3">Practice respiratory hygiene</h6>
          <p>Maintain good respiratory hygiene as covering your mouth & nose with your bent elbow or tissue when cough
            or sneeze.</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary rounded-pill pl-3 pr-3 p-2 bold wow fadeInRight">
        Check how you wash hand
        <i class="fa fa-arrow-right ml-3" aria-hidden="true"></i>
      </button>

      <div class="mt-4 pb-5 wow fadeInLeft">
        <a href="" class="p-3 selected bold">
          About COVID-19
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="p-4 row rounded shadow bg-light mt-5 headerColor mb-5">
      <div class="col wow bounceInRight">
        <h2 class="bold">Take steps to protect others</h2>
        <ul class="stepsUl">
          <li><span class="bold">Stay home if you’re sick – </span>Stay home if you are sick, except to get medical
            care.</li>
          <li><span class="bold">Cover your mouth and nose – </span>with a tissue when you cough or sneeze (throw used
            tissues in the trash) or use the inside of your elbow.</li>
          <li><span class="bold">Wear a facemask if you are sick – </span>You should wear a facemask when you are around
            other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s</li>
          <li><span class="bold">Clean AND disinfect frequently touched surfaces daily – </span>This includes phones,
            tables, light switches, doorknobs, countertops, handles, desks, toilets, faucets, and sinks.</li>
          <li><span class="bold">Clean the dirty surfaces – </span>Use detergent or soap and water prior to
            disinfection.</li>
          <li><span class="bold">Stay informed about the local COVID-19 situation – </span>Get up-to-date information
            about local COVID-19 activity from <a href="" class="selected">public health officials.</a></li>
          <li><span class="bold">Dedicated, lined trash can – </span>If possible, dedicate a lined trash can for the ill
            person. Use gloves when removing garbage bags, and handling & disposing of trash.</li>
        </ul>
      </div>
      <div class="col-lg-4 wow bounceInLeft">
        <img src="/assets/imgs/steps.png" width="100%" height="100%" alt="">
      </div>
    </div>

    <div class="text-center p-5">
      <h2 class="bold headerColor p-4 wow bounceInLeft">Take steps to protect others</h2>
      <a href="" class="p-3 selected bold wow flash">
        Why do I need wash hand
        <i class="fa fa-arrow-right ml-3" aria-hidden="true"></i>
      </a>
    </div>

    <div class="row headerColor text-center pb-5">
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-a.png" class="radius-50 wow bounceInLeft" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Soap on Hand</h6>
      </div>
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-b.png" class="radius-50 wow fadeInRight" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Palm to Palm</h6>
      </div>
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-c.png" class="radius-50 wow bounceInUp" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Between Fingers</h6>
      </div>
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-d.png" class="radius-50 wow bounceInDown" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Back to Hands</h6>
      </div>
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-e.png" class="radius-50 wow fadeInLeft" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Clean with Water</h6>
      </div>
      <div class="col-lg col-md-4 col-6">
        <img src="/assets/imgs/hand-f.png" class="radius-50 wow bounceInRight" width="100" alt="">
        <h6 class="bold mt-3 wow pulse">Focus on Wrist</h6>
      </div>
    </div>
  </section>