<!-- news section --------------------------------------------------------------------------->
<section class="news pt-5 pb-5 plr-5 text-center bg-smokeColor" id="news">
    <div class="content headerColor wow fadeInLeft pt-5">
      <h5 class="selected bold">RECENT FROM BLOG</h5>
      <h2 class="bold mb-4">LATEST UPDATE</h2>
    </div>

    <div class="row justify-content-around headerColor p-3 wow pulse">
      <div class="col-lg-4 mb-3">
        <div class="card col-12 p-4 h-100">
          <img src="/assets/imgs/blog-a.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bold">Card title</h5>
            <p class="card-text">Most people who get sick with COVID-19 will have only mild illness and should recover
              at home. Care at home can help stop the spread of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card col-12 p-4 h-100">
          <img src="/assets/imgs/blog-b.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bold">Card title</h5>
            <p class="card-text">Most people who get sick with COVID-19 will have only mild illness and should recover
              at home. Care at home can help stop the spread of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card col-12 p-4 h-100">
          <img src="/assets/imgs/blog-c.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title bold">Card title</h5>
            <p class="card-text">If you are sick with COVID-19 or think you might have it, follow the steps below to
              help protect other people in your home and community</p>
          </div>
        </div>
      </div>
    </div>
  </section>