<!-- symptoms section ----------------------------------------------------------------------->
<section class="symptoms pt-5 pb-5 mt-5 plr-5" id="symptoms">
    <div class="row justify-content-around text-center defaultColor wow fadeInLeftBig">
      <span class="col-12 selected bold">WHAT ARE THE SYMPTOMS OF COVID-19 ?</span>
      <h2 class="col-12 bold mt-2">SYMPTOMS OF CORONAVIRUS</h2>
      <p class="col-lg-11 p-4 mb-5">The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some
        patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are
        usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>
    </div>

    <div class="row justify-content-around wow flash">
      <div class="card shadow col-lg-3 mt-5 mb-5 bg-smokeColor">
        <div class="card-body">
          <img src="/assets/imgs/symptom-a.png" class="wow pulse" alt="">
          <h6 class="card-title selected bold">Fever</h6>
          <p class="card-text default"><span class="bold">High Fever – </span>this means you feel hot to touch on your
            chest or back (you do not need to measure your temperature). It is a common sign and also may appear in 2-10
            days if you affected.</p>
        </div>
      </div>
      <div class="card shadow col-lg-3 mt-5 mb-5 bg-smokeColor">
        <div class="card-body">
          <img src="/assets/imgs/symptom-b.png" class="wow pulse" alt="">
          <h6 class="card-title selected bold">Cough</h6>
          <p class="card-text default"><span class="bold">Continuous cough – </span>this means coughing a lot for more
            than an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than
            usual).</p>
        </div>
      </div>
      <div class="card shadow col-lg-3 mt-5 mb-5 bg-smokeColor">
        <div class="card-body">
          <img src="/assets/imgs/symptom-c.png" class="wow pulse" alt="">
          <h6 class="card-title selected bold">Shortness of breath</h6>
          <p class="card-text default"><span class="bold">Difficulty breathing – </span>Around 1 out of every 6 people
            who gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness of breath.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-around mt-5">
      <div class="warn row justify-content-around defaultColor col-lg-7">
        <i class="fa fa-exclamation-triangle fa-3x selected mt-3 wow bounceInLeft" aria-hidden="true"></i>
        <p class="col-sm-10 mt-3 wow fadeIn"><span class="selected bold">Stay at home and call your doctor: </span><span
            class="t-italic">If you think you have been exposed to COVID-19 and develop a fever and any symptoms, such
            as cough or difficulty breathing, call your healthcare provider as soon as possible for medical
            advice.</span></p>
      </div>
      <div class="mt-4 wow flipInY">
        <button class="btn btn-primary rounded-pill pl-3 pr-3 p-2 bold">
          <i class="fa fa-question-circle fa-lg mr-3" aria-hidden="true"></i>
          Have question? Find answer.
        </button>
      </div>
    </div>
  </section>