/*********** Initial Values **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: #0a58ca;
}
html{
    scroll-behavior: smooth;
}

/********* header container *******/
header{
    background-color: transparent;
    transition: background-color 0.3s;
}
header .myNav{
    padding-top: 20px;
}

/********** Logo **********/
.logo a{
    text-transform: uppercase;
}
.logo a h1{
    font-size: 25px;
    display: inline-block;
}

/********** navbar ***********/
header nav ul li a{
    font-size: 15px;
    font-weight: bold;
    color: #50658e;
}
header nav ul li a:hover{
}
header nav ul li.temp {
    padding: 10px;
}

/*** up button ***/
header #upBtn{
    border-radius: 25%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}
/** themes **/
header .themes{
    position: fixed;
    left: 0;
    top: 30%;
}
header .themes div{
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: width 0.3s;
}
header .themes div:hover{
    width: 100px;
    padding: 10px;
}

@media (max-width: 768px){
    header .themes{
        top: 50%;
        margin: auto;
    }
}


/********** responsive navbar ******/
.respBg{
    background-color: transparent;
}

#respNav{
}
#respNav{
    background-color: rgba(10,88,202,0.5);
}
#respNav ul{
    background-color: white;
}
#respNav ul li{
    display: block !important;
}
#closeIcon{
    width: 100px;
}
#closeIcon i{
    cursor: pointer;
    color: white;
}

@media (max-width: 1000px){
    header .myNav .collapseBtn{
        color: black;
        display: inline-block;
    }
    header .myNav nav#mainList {
        display: none;
    }
}
@media (min-width: 1001px){
    header .myNav .collapseBtn{
        display: none;
    }
    header .myNav nav#mainList {
        display: inline-block;
    }
}

/********** home section **************/
/**************************************/

/********** About Section **********/
.about section.row ul li{
    padding: 25px;
    position: relative;
}

.about section.row ul li a i{
    position: absolute;
    right: 25px;
}

.about section.spread .card img{
    border-bottom: 5px #2a81ea solid;
}

/********** symptoms seciton **********/
section.symptoms .card{
    position: relative;
    border: none;
}

section.symptoms .card img{
    position: absolute;
    right: 15px;
    top: -50px;
    border-radius: 50%;
    width: 100px;
}


/********** prevention section *******/
section.prevention ul.stepsUl{
    list-style-image: url('../imgs/Font_Awesome_5_solid_check-circle.svg');
    list-style-position: inside;
}

section.prevention ul.stepsUl li{
    margin-top: 30px;
}

/********* Treatment Section ***********/
section.treatment ul{
    list-style-image: url('../imgs/right-arrow.svg');
    list-style-position: inside;
}
section.treatment ul li{
    margin-bottom: 5px;
}

/********** do & don't ************/
.do-dont .item1 img, .do-dont .item3 img{
    border-radius: 50%;
    border: 3px solid;
}
.do-dont .item1 img{
    margin-left: 10px;
}
.do-dont .item3 img{
    margin-right: 10px;
}
.do-dont .item1 div, .do-dont .item3 div{
    margin: 20px 0;
}
.do-dont .selected.grid {
    display: grid;
    grid-column: 4;
    grid-row: 2;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px
}
.do-dont .selected div .row .col-sm-8 span{
    position: relative;
}
.do-dont .selected div .row .col-sm-8 i{
    position: relative;
    background-color: white;
}
.do-dont .selected .item3 .row .col-sm-8 i{
    right: 40px;
    top: -30px;
    color: rgba(0, 255, 0, 0.5);
}
.do-dont .selected .item1 .row .col-sm-8 i{
    right: 80px;
    top: -30px;
    color: #f86168;
}

@media (max-width:992px){
    .do-dont .selected.grid .item2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .do-dont .selected.grid .item1{
        grid-row-start: 2;
        grid-column: 1/3;
    }
    .do-dont .selected.grid .item3{
        grid-row-start: 2;
        grid-column: 3/5;
    }
}

@media (max-width:380px){
    .do-dont .selected .item1 .row .col-sm-8 i{
        right: -35px;
    }
}

/************ news  *************/
.news .card{
    border: none;
}

/************* footer ***********/
.footerIcons a{
    color: white;
}
footer a:hover{
    color: #2a81ea;
}
footer hr{
    border: 1px solid gray;
    border-radius: 25%;
}

/********** my own classes ************/
.plr-5{
    padding-right: 5%;
    padding-left: 5%;
}
.p-50px{
    padding: 50px;
}
.pt-150px{
    padding-top: 150px;
}
.bold{
    font-weight: bold;
}
.selected{
    color: #2a81ea;
}
.defaultColor{
    color: #4B6691;
}
.defaultColor-lighter{
    color: #78a3e7;
}
.headerColor{
    color: #394B6C;
}
.hashColor{
    color: gray;
}
.cyanColor{
    color: #73e3ff;
}
.darkBlueColor{
    color: #2766bb;
}
.bg-darkerBlue{
    background-color: #1b48a1ad;
}
.bg-darkBlueColor{
    background-color: #2766bb;
}
.bg-smokeColor{
    background-color: whitesmoke;
}
.bg-darkColor{
    background-color: #151c2e;
}
.navClicked{
    display: inline-block;
    width: 50%;
}
.navPos{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5648489;
}
.h-100vh{
    height: 100vh;
}
.bg-white{
    background-color: white;
    transition: 0.3s;
}
.show{
    opacity: 1 !important;
    transition: 0.2s;
}
.hide{
    opacity: 0 !important;
    transition: 0.2s;
}
.upBtnPos{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.ts-70px{
    font-size: 70px;
}
.ts-30px{
    font-size: 30px;
}
.ts-20px{
    font-size: 20px;
}
.radius-25{
    border-radius: 25%;
}
.radius-50{
    border-radius: 50%;
}
.smallText{
    font-size: 12px;
}
.t-italic{
    font-style: italic;
}
.bgImg-main{
    background-image: url(../imgs/shape-a.png);
    background-size: cover;
}
.fixedSize-20px{
    font-size: 20px;
}
.fixedSize-12px{
    font-size: 12px;
}