<!-- footer ------------------------------------------------------------------------------------------->
<footer class="pt-5 pb-5 plr-5 bgImg-main bg-darkColor defaultColor-lighter fixedSize-12px" id="footer">
    <div class="row pl-4 pr-4" id="footer">
      <div class="col-lg-3 col-sm-4 mb-5 col-sm-12 wow bounceInLeft">
        <h3 class="text-light bold text-uppercase fixedSize-20px">
          c<object data="/assets/imgs/virus-svgrepo-com.svg" width="20" height="20"></object>vid<span
            class="defaultColor">19</span>
        </h3>
        <p class="mt-3">This website is for health information and advice about coronavirus (COVID-19), how to prevent
          and protect yourself from disease.</p>
        <p>Learn about the government response to coronavirus on GOV.UK.</p>
        <div class="footerIcons" id="footerIcons">
          <a class="" href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          <a class="ml-3" href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a class="ml-3" href=""><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-5 col-12 wow bounceInLeft">
        <h3 class="text-light bold text-uppercase fixedSize-20px">QUICK LINK</h3>
        <div class="mt-3">
          <div class="pb-3"><a href="" class="defaultColor-lighter">About Corona</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Symptoms</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Prevention</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Protect Youself</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">FAQs</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-5 col-12 wow bounceInRight">
        <h3 class="text-light bold text-uppercase fixedSize-20px">HELPFULL LINK</h3>
        <div class="mt-3">
          <div class="pb-3"><a href="" class="defaultColor-lighter">Healthcare Professionals</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Healthcare Facilities</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Older Adults & Medical Conditions</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Repare your Family</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-5 col-12 wow bounceInRight">
        <h3 class="text-light bold text-uppercase fixedSize-20px">IMPORTANT LINK</h3>
        <div class="mt-3">
          <div class="pb-3"><a href="" class="defaultColor-lighter">WHO Website</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">CDC Website</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">NHS Website</a></div>
          <div class="pb-3"><a href="" class="defaultColor-lighter">Harvard Health</a></div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <div class="pr-4 pl-4 wow pulse">
      <div>
        © 2020 COVID-19. Template implemented by <span class="text-light bold " id="myName">Kareem Mohamed Shaaban
          ♥</span>.
      </div>

      <p class="mt-4">Disclaimer: We hope you find the information presented on this website useful. This website is for
        general information and raise awareness of (2019-nCoV) only. All the information based on WHO, NHS and CDC
        website. Information on our website is meant for awareness, if you have any doubt please verify from respective
        site.</p>
    </div>

  </footer>