<h1 class="text-center mb-4">Add Tasks - ToDo List</h1>
<div class="p-4 border rounded border-dark">
    <div class="alert alert-success fixed-top m-auto w-50 text-center p-1 d-none" id="addMsg-todoList">
        Entered task is added!
    </div>
    <div class="alert alert-danger fixed-top m-auto w-50 text-center p-1 d-none" id="removeMsg-todoList">
        Selected task is removed!
    </div>

  <div class="alert alert-danger" *ngIf="!valid">
    Error: 
    <span *ngIf="cond == 1">Input must <span class="text-danger fw-bold">NOT</span> be empty.</span>

    <span *ngIf="cond == 2">Minimum task length <span class="text-danger fw-bold">MUST</span> be greater than or equal 8.</span>

    <span *ngIf="cond == 3">Maximum task length <span class="text-danger fw-bold">MUST</span> be less than or equal 25.</span>
  </div>
  <div class="row justify-content-around">
    <input type="text" class="col-md-6 mt-3" [(ngModel)]="val">
    <button class="btn btn-dark col-md-3 col-8 mt-3 fw-bold" (click)="valid = add()">
      Add Task
    </button>
  </div>

  <ul class="mt-3 nav justify-content-around">
    <li class="row justify-content-between w-100 bg-dark text-light p-2 rounded mt-2" *ngFor="let item of list" (click)="checked($event)">
      <div class="p-2 text-md-left text-center col-md-11 col-sm-10 col-12">
        {{item}}
      </div>
      <div class="btn btn-danger col-md-1 col-sm-2 col-6 m-auto pt-2 pb-2 p-1 fa fa-trash" (click)="remove($event)">
      </div>
    </li>
  </ul>
</div>
