<!-- about section ------------------------------------------------------------------>
<div class="about" id="about">
    <section class="pt-5 pb-5 mt-5 plr-5 row">
      <div class="col-lg-7 headerColor wow bounceInLeft">
        <div class="head row">
          <span class="selected bold col-12">ABOUT THE DISEASE</span>
          <h2 class="defaultColor bold col-12">CORONAVIRUS (COVID-19)</h2>
        </div>
        <div class="ts-20px">
          <p class="bold mt-4 mb-4">COVID-19 is a new illness that can affect your lungs and airways.</p>
          <p class="mb-4">
            It's caused by a virus called coronavirus. It was discovered in December 2019 in Wuhan, Hubei, China.
          </p>
          <p class="mb-4">
            Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing
            difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney
            failure and even death.
          </p>
          <p class="mb-4">
            Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose
            when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing
            symptoms of respiratoryillness such as coughing and sneezing.
          </p>
        </div>
      </div>
      <div class="col-lg-5 wow bounceInRight">
        <ul class="list-group shadow">
          <li class="list-group-item">
            <h3 class="defaultColor bold">What you need to know</h3>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              How coronavirus is spread
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              Symptoms of coronavirus
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              How to protect yourself
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              Treatment for coronavirus
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              Myth-Busters of coronavirus
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a href="" class="selected">
              Questions & answers
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>

          </li>
        </ul>
      </div>
    </section>
    <section class="pt-5 pb-5 mt-5 about plr-5 bg-smokeColor text-center spread">
      <div class="defaultColor row wow fadeInUp">
        <span class="selected bold col-12">HOW CORONAVIRUS IS SPREAD</span>
        <h2 class="bold col-12">TRANSMISSION OF COVID-19</h2>
        <p class="headerColor mt-3 mb-4 col-12">Because it's a new illness, we do not know exactly how coronavirus
          spreads from person to person. Similar viruses are spread in cough droplets.</p>
      </div>
      <div class="row justify-content-around">
        <div class="card col-lg-3 p-0 mt-3 wow bounceInLeft">
          <img src="/assets/imgs/spread-a.png" class="card-img-top" alt="...">
          <div class="card-body p-3 text-left">
            <p class="card-text selected bold">Person-to-person spread as close contact with infected</p>
            <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are
              in close contact with one another.</p>
          </div>
        </div>
        <div class="card col-lg-3 p-0 mt-3 wow flash">
          <img src="/assets/imgs/spread-b.png" class="card-img-top" alt="...">
          <div class="card-body p-3 text-left">
            <p class="card-text selected bold">Touching or contact with infected surfaces or objects</p>
            <p>A person can get COVID-19 by touching a surface or object that has the virus on it and then touching
              their own mouth, nose, or possibly their eyes.</p>
          </div>
        </div>
        <div class="card col-lg-3 p-0 mt-3 wow bounceInRight">
          <img src="/assets/imgs/spread-c.png" class="card-img-top" alt="...">
          <div class="card-body p-3 text-left">
            <p class="card-text selected bold">Droplets that from infected person coughs or sneezes</p>
            <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are
              in close contact with one another.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-around mt-5 mb-5 wow flipInX">
        <button class="btn btn-primary rounded-pill pl-3 pr-3 p-2 mt-5 mb-5 bold">
          <i class="fa fa-question-circle fa-lg mr-3" aria-hidden="true"></i>
          Have question about spreading?
        </button>
      </div>
    </section>
  </div>